:root {
  --pale-sky: #d6dde1;
  --alice-blue: #f0f2f5;
  --deep-teal-2: #5c7a72;
  --dark-khaki: #5e4c31;
  --dusty-taupe: #af765a;
  --toffee-brown: #a86443;
  --jet-black: #232f2a;
}

body {
  background-color: var(--pale-sky);
  color: var(--jet-black);
}
